<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bnifsc.rbi</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/vinaymavi/appengine/rbi_scraping/cron.sh</string>
        <string> > /Users/vinaymavi/appengine/rbi_scraping/cron.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/vinaymavi/rbi_ifsc_xls/log/cron.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/vinaymavi/rbi_ifsc_xls/log/cron_error.log</string>
    <key>Debug</key>
    <true/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>21</integer>
        <key>Minute</key>
        <integer>50</integer>
    </dict>
</dict>
</plist>
